name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to EC2 via SSH
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd /home/ubuntu/terminal-profile/portfolio-fullstack
            git fetch origin
            git reset --hard origin/main
            cd backend
            npm install
            pm2 restart backend

            cd ../frontend
            npm install
            npm run build

            sudo systemctl reload nginx
